@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*==========universal css==============*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5F5F5;
    font-family: Fira Sans;
    max-width: 1280px;
    margin: 0 auto;

}


.primary-heading{
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
}

.secondary-heading{
    font-weight: 700;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
}

.des-font{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}

.primary-btn{
    font-weight: 600;
    font-size: 18px;
    border: none;
    background-color: #006A50;
    color: #FFFFFF;
    padding: 17px 34px;
    border-radius: 8px;
}

.primary-btn:hover{
    border: 1px solid #006A50;
    color: #006A50;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
}


/* ==========nav css=========== */

header nav{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
}

header nav input{
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 18px;
    color: #006A50;
}

/* ==========hero section css=========== */

.hero-section{
    display: flex;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px;
    justify-content: space-between;
}

.hero-section p{
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}
.hero-section h1{
    font-weight: 700;
    font-size: 40px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.hero-section input{
    
}
.hero-section .left-content{
    padding: 0 56px;
}
.hero-section .right-image img{
    width: 474px;
    height: auto;
}


/*===============Pillar section css===================== */

.pillars-main{
    margin: 80px 0px;
}
.pillar-items-main{
    display: flex;
    justify-content: space-between;
}
.pillars-main h1{
    margin-bottom: 32px;
}
.pillar-items{
    padding: 24px;
    border-radius: 16px;
    background-color: #FFFFFF;
    margin-right: 24px;
    width: 20%;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.pillar-items h4{
 margin-top: 24px;
 font-size: 20px;
 font-weight: 700;
}

.pillar-items p{
    margin-top: 12px;
}

/*===============vision of future css===================== */

.Vision-of-Future h1{
    margin-bottom: 24px;
}
.Vision-of-Future p{
    margin-bottom: 32px;
}
.vision-items-main{
    display: flex;
    justify-content: space-between;
}
.vision-items{
    width: 27%;
    height: auto;
    padding: 32px;
}
.Vision-of-Future .vision-items h4{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 12px;
}
.Vision-of-Future .vision-items button{
    font-size: 16px;
}
.Vision-of-Future .vi-one{
    background-color: rgba(84, 144, 245, 0.2);
    border: 1px solid #5490F5;
    border-radius: 16px;
}
.Vision-of-Future .vi-two{
    background-color: rgba(198, 228, 214, 1);
    border: 1px solid #09A15C;
    border-radius: 16px;
}
.Vision-of-Future .vi-three{
    background-color: rgba(247, 235, 207, 1);
    border: 1px solid #FFC239;
    border-radius: 16px;
}
.Vision-of-Future .vi-one button{
    background-color: rgba(84, 144, 245, 1);
}
.Vision-of-Future .vi-two button{
    margin-top: 20px;
}
.Vision-of-Future .vi-three button{
    background-color: rgba(255, 194, 57, 1);
}

/* =========Recent News Section============= */
.recent-news{
    margin-top: 80px;
}
.recent-news h1{
    margin-bottom: 24px;
}
.recent-news p{
    margin-bottom: 32px;
}
.recent-news-inner-main{
    display: flex;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-bottom: 24px;
}
.news-inner-title .rn-date{
    margin-right: 12px;
}
.recent-news-inner-main .inner-main-image{
    border-radius: 24px;
    margin-right: 32px;
}
.recent-news-logo{
    margin-bottom: 12px;
}
.recent-news-inner-two{
    flex-direction: row-reverse;
}
.recent-news-inner-two .inner-two-img{
    margin-right: 0;
    margin-left: 32px;
}